.navbar-brand{
  color: #3498db !important;
  font-weight: 700;
  font-size: 2rem !important;
}
.active_link{
  border-bottom: 1px solid #3498db;

}

/* =======banner======== */
.banner_content{
  padding: 40px 0;
}
.banner_content h1{
  padding: 10px 0;
}
.heading_span{
  color:#3498db;
  text-transform: uppercase;
}
.banner_content h4{
  padding: 10px 0; 
  margin-bottom: 20px;
}
.banner_content .button{
  background-color: white;
  color: #3498db;
  text-decoration: none;
  padding: 8px 20px;
  border-radius: 10px;
  font-size: 18px;
  border: 1px solid #3498db;
  transition: all 0.2s;
}
.banner_content .button:hover{
  cursor: pointer;
  background-color: #3498db;
  color: white;
}

/*animation*/

.animated{
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
@keyframes up-down{
  0%{
    transform: translateY(10px);
  }
  100%{
    transform: translateY(-10px);
  }
}
